<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="26.1.0" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net472" />
  <package id="EdgePDF.Viewer.AspNet.Framework" version="12.3.5" targetFramework="net472" />
  <package id="EdgePDF.Viewer.Framework" version="12.3.5" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.32.0" targetFramework="net472" />
  <package id="GroupDocs.Viewer" version="25.12.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="RasterEdge.Core.Framework" version="12.3.5" targetFramework="net472" />
  <package id="RasterEdge.Core.Office.Framework" version="12.3.5" targetFramework="net472" />
  <package id="RasterEdge.Core.Web.Framework" version="12.3.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.10" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="5.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http.Json" version="8.0.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="XDoc.Converter.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XDoc.Dicom.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XDoc.Excel.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XDoc.PDF.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XDoc.PowerPoint.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XDoc.TIFF.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XDoc.Word.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XImage.BarcodeGenerator.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XImage.BarcodeReader.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XImage.OCR.Framework" version="12.3.5" targetFramework="net472" />
  <package id="XImage.Raster.Framework" version="12.3.5" targetFramework="net472" />
  <package id="ZstdSharp.Port" version="0.8.6" targetFramework="net472" />
</packages>